// IMPORT BOOTSTRAP STYLES

// WHITE AND GREY COLOURS
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-ddd: #dddddd !default;
$black:    #000 !default;

// THEME COLOURS
$primary: #333645 !default;
$primary-hover: darken($primary, 10%);
$primary-dark: #262934 !default;

// Side Menu colours
$side-primary: rgba(0,0,0,.25);

//SERVICES COLORS
$web: #926fb1;
$web-hover: darken($web, 5%);
$web-darken: darken($web, 10%);

$training: #926fb1;
$training-hover: darken($training, 5%);
$training-darken: darken($training, 10%);

$digital: #2ecc71;
$digital-hover: darken($digital, 5%);
$digital-darken: darken($digital, 10%);

$software: #67809F;
$software-hover: darken($software, 5%);
$software-darken: darken($software, 10%);

$telecoms: #d64541;
$telecoms-hover: darken($telecoms, 5%);
$telecoms-darken: darken($telecoms, 10%);

$security: #f62459;
$security-hover: darken($security, 5%);
$security-darken: darken($security, 10%);

$it-support: #4183d7;
$it-support-hover: darken($it-support, 5%);
$it-support-darken: darken($it-support, 10%);

// Button Colors
$btn-white: $white;
$btn-white-hover: darken($white, 8%);
$btn-white-darken: darken($white, 13%);

$btn-primary: $primary;
$btn-primary-hover: darken($primary, 5%);
$btn-primary-darken: darken($primary, 10%);

$btn-default: #999aa2;
$btn-default-hover: darken($btn-default, 5%);
$btn-default-darken: darken($btn-default, 10%);

$btn-blue: #4183d7;
$btn-blue-hover: darken($btn-blue, 5%);
$btn-blue-darken: darken($btn-blue, 10%);

$btn-purple: #926fb1;
$btn-purple-hover: darken($btn-purple, 5%);
$btn-purple-darken: darken($btn-purple, 10%);

//Owl Colours
$owl: rgba(255, 255, 255, 0.5);
$owl-hover: #869791;
$it-support-darken: darken($it-support, 10%);

// Focus outline
$focus-outline: #5bc0de; 

// Form Validation
$required: #d24d57;

$success: #2ecc71;
$success-dark: darken($success, 5%);

$error: #f2dede;
$error-dark: darken($error, 5%);
$error-text: #a94442;
$error-border:#d64541;
// $validation-box: #f2dede;


// Social media colours
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #d93175;
$linked-in: #0077b5;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
