@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

#about {
    @include sectionSpacing;
    @include fullSize;
    position: relative;
    color: $white;
    background-color: $primary;
    
    // border: 2px solid gold;
}


