@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

#about {
    width: 100%;
    position: relative;
    color: $white;
    background-color: $primary;
    
    // border: 2px solid gold;
}

.about-bg {
    @include sectionSpacing;
    @include fullSize;
    position: relative;
    // border: 2px solid silver;
    
    // Image styling
    @include respond-to-up(md) {
        background: url("https://kermekan.github.io/html-css-reflection/assets/images/logo/logo-transparent.png") no-repeat;
        background-size: auto 100%;
        background-position: 100%;
    }
}


/* --------------------------- About brand Styling --------------------------- */
  
// text styling
.about-content {
    // border: 2px solid brown;
    
    // Box size half at 1260px
    @media (min-width: 1260px) {
        width: 49.4%;
    }
    
    h1 {
        font-size: 2.25rem; // 36px
        margin-top: -6px;
        margin-bottom: 1.75rem;  
    }
    
    p {
        margin-bottom: 1.563rem; // 50px
        line-height: 1.875rem; // 30px
    }
}
