@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

header {
    position: relative;
    width: 100%;
    padding-top: 1.25rem; //20px
    
    
    @include respond-to-down(sm) {
        @include headerSpacing;        // Separates mobile search from banner
    }
    
    // border: 3px solid purple;
}

.header-inner {
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.625rem; // 10px
    
    @include respond-to-up(sm) {
        @include headerSpacing;        // Separates mobile search from header-inner
    }
    
    // border: 2px solid wheat;
}

/* ------------------------------ Logo Styling ------------------------------ */
.logo-container {
    // width: fit-content;
    padding: 0;
    align-items: start;
    
    //Logo shrinks on small phones instead of taking up whole screen
    margin-right: 1.5rem; //24px
    flex-shrink: 1;
    
    @include respond-to-up(sm) {
        max-width: 23.375rem; //374px
    };
    
    // Increase logo at smaller devices
    @include respond-to-down(xxs) {
        margin-right: 0.938rem; // 15px
    };
    
    // border: 2px solid lightblue;
}

/* ----------------------------- Action Buttons ----------------------------- */
.actions {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: fit-content;
    padding: 0.438rem 0; //7px 0
    // border: 2px solid firebrick; 
}

// Contact icon(mobile)
.contact-sm {
    display: inline-block;
    width: fit-content;
    padding: 0;
    // margin-left: auto;    
    
    // border: 2px solid yellowgreen;    
    
    a:hover  {
        // border: 3px solid blueviolet;
        text-decoration: underline;
    }
    
    // Icon Styling
    .icon {
        color: $primary;
        font-size: 2rem !important; //32px
        margin-left: auto;
        // border: 2px solid darkcyan; 
        
        &:hover {
            color: $primary-hover;
            text-decoration: underline;
        }
    }
}

/* -------------------------------- Menu btn -------------------------------- */
.menu-btn {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 13px;
    margin-left: 1.25rem; //20px  
    height: 3.5rem; //56px
    line-height: 1.5;    
    
    // Button Color
    @include btnColor($btn-primary, $btn-primary-darken, $btn-primary-hover);
    
    // border: 2px solid grey;
    
    // Hamburger Styling
    .burger-container {
        position: relative;
        width: 100%;
        // border: 2px solid green;
        
        .menu-burger {
            position: relative;
            @include burger; //Burger lines
            
            &::before,&::after {
                content: "";
                position: absolute;
                left: 0;
                @include burger;
            }
            
            // Moves other 2 bars in correct position
            &::before {
                content: "";
                transform: translateY(-8px);
                
            }
            &::after {
                content: "";
                transform: translateY(8px);
            }
        }
    }
    
    // Title
    .menu-title {
        font-size: 0.75rem; //12px
        display: block;
        margin-top: 5px;
    }
}

/* ------------------------------ Mobile Search ----------------------------- */
.search-form,
.input-container, 
.input-field {
    position: relative;
    @include fullSize;
}

.search-sm {
    position: relative;
    height: 47px;
    // border: 2px solid yellow;
     
    .input-container {
        justify-content: flex-end; //puts search icon at the end of container
        // border: 2px solid salmon;
        
        .input-field {
            padding: 0.313rem 2.5rem 0.313rem 0.938rem; // 5px 40px 5px 15px
            width: 100% !important;
            
            //Background Coloring
            background-color: rgba(0,0,0,.1);
            outline: 1px solid hsla(0,0%,100%,.2);
            border: 2px solid rgba(0,0,0,.1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.125); 
            box-shadow: 0 0 3px $white; 
            border-radius: 2px;
            
            // border: 2px solid goldenrod;
        }
        
        // Icon for small devices
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            font-size: 20.2px;
            cursor: pointer;
            margin-right: 0.625rem; //10px //positions icon inside input field
            // border: 2px solid purple;
        }
    }
}

/* ------------------------------ Medium Search ----------------------------- */
.search-md {
    position: relative;
    height: 3.5rem; //56px
    // max-width: 14.75rem;
    // border: 2px solid burlywood;
    
    .input-field {
        width: 10.875rem; //174px
        padding: 0.313rem 0.938rem; //5px 15px 
        
        //Element not shown until 1260px
        @media only screen and (min-width: 1200px) and (max-width: 1259px) {
            display: none !important;
        }
        
        // Width extends at 1260px
        @media only screen and (min-width: 1260px) {
            width: 15rem; //240px
        }
    }
}







