@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;
@use '../components/sub-menu' as *;

// All Navigation Styling

.navbar {
    width: 100%;
    background-color: $primary;
    color: #fff;
    padding: 0;
    
    // Resets flex class height
    .flex {
        height: auto;
    }
    
    .item-list {
        position: relative;
        width: 100%;
        justify-content: start;
        
        border-left: 1px solid hsla(0,0%,100%,.1);
        border-right: 1px solid rgba(0,0,0,.25);
    }
    
    .item {
        flex: 1; 
        
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        
        // Links styling
        a {
            position: relative;
            color: #fff;
            font-size: 18px;
            
            line-height: 1;
            
            padding: 18px 0;
            flex-direction: column;
            
            @include fullSize;
            
            // Icon
            .icon {
                padding-bottom: 10px;
            }
            
            .small-text {
                padding-bottom: 3px;
            }
        }
    }
}

/* -------------------------------- Sub Menu -------------------------------- */

// Hide submenu for hover
.submenu {
    display: none;
}

// Show submenu for hover
.navbar .item-list .item  {
    &:hover {
        .submenu {
            display: block;
            z-index: 3;
        }
    }
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: start;
    
    width: 100vw;
    
    &::before {
        content: "";
        // background-color: $bespoke-software;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 1000%;
    }
    &::after {
        content: "";
        right: 100%;
    }
    
    // Items in sub-menu
    .submenu-item-list {
        justify-content: start; 
    }
    
    .submenu-item {
        position: relative;
        @include fitContent;    
        
        // Hyphen
        &:not(:last-child) a::after {
            content: "-";
            padding-left: 1.25rem;
            
            // Breakpoint @ 1260px
            @media (min-width: 1260px) {
                padding-left: 1.875rem;
            }
        }
        
        a {
            @include fullSize;
            display: inline-block;
            color: white;
            
            line-height: 45px;
            padding: 0;
            
            // Spacing between hyphen & text
            padding-right: 1.25rem;
            
            // increase font-size @ 1260px breakpoint
            font-size: 13px;
            
            @media (min-width: 1260px) {
                font-size: 1rem;
                padding-right: 1.875rem;
                
            }
        }
    }
}

// Submenu Colors =======
.nav-inner .software {
    @include submenuColor($software, $software-darken);
}

.nav-inner .it-support {
    @include submenuColor($it-support, $it-support-darken);
}

.nav-inner .digital {
    @include submenuColor($digital, $digital-darken);
}

.nav-inner .telecoms {
    @include submenuColor($telecoms, $telecoms-darken);
}

.nav-inner .web {
    @include submenuColor($web, $web-darken);
}

.nav-inner .security {
    @include submenuColor($security, $security-darken);
}

.nav-inner .training {
    @include submenuColor($training, $training-darken);
}






