@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

.newsletter {
    @include sectionSpacing;
    background-color: $gray-ddd;
}

.newsletter-inner {
    position: relative;
    color: $primary;
    // border: 3px solid red;
    
    .title {
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 0.938rem;
    }
}

/* ------------------------------ Form Styling ------------------------------ */
.content-wrapper {
    position: relative;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin: 0 30px/* 1.875rem */;
    // border: 3px solid purple;
}

.sign-up {
    position: relative;
    width: 100%;
    justify-content: start;
    flex-direction: row;
    // border: 2px solid black;
}

// Input Styling
.input-group {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    

    // individual input fields
    .input-wrapper {
        width: 100%;
        margin-bottom: 0.938rem;
        
        // Controls width of input fields at large screens
        @include respond-to-up(md) {
            width: 48.3%;
        }
        
        @media (min-width: 1260px) {
            width: 48.65%;
        }
        
        // label styling
        label {
            // color: $primary;
            font-weight: 600;
            margin-bottom: 0.313rem;
        }
        
        // Input styling
        input {
            font-size: 0.875rem;
            height: 2.938rem; // 47px
            padding: 0.313rem 0.938rem;
            border-radius: 2px;
            border-color: #ccc;
            @include inputFocus;
        }
    }
}

/* ---------------------------- Checkbox Styling ---------------------------- */
.label {
    justify-content: start;
    margin-bottom: 1.875rem;
    // border: 2px solid blue;
    
    label {
        cursor: pointer;
        font-weight: 600;
        line-height: 2;
        
        justify-content: start;
        align-items: start;
        flex-wrap: nowrap;
        // border: 2px solid yellow;
        
        .check-holder {
            position: relative;
            width: fit-content;
            margin-right: 1.25rem;
            // border: 2px solid red;
            
            .checkbox {
                position: relative;
                width: fit-content;
                height: fit-content;
                padding: 0;
                margin: 0;
                
                // checkbox
                input {
                    position: relative;
                    display: none;
                    width: 2em;
                    height: 2em;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            
            // Netmatters Checkbox
            .check {
                display: block;
                position: relative;
                // top: -41px;
                z-index: 4;
                
                min-width: 2em;
                height: 2em;
                
                border: 3px solid $primary;
                border-radius: 3px;
            }
            
        }
        
        // Text
        .text {
            // margin-bottom: -10px;
            @include respond-to-up(sm) {
                margin-right: 1.25rem;
            }
            
            a {
                text-decoration: underline;
            }
        }
    }
}

// Checkbox Checked state
.check-holder .cb:checked + .check {
    background: $primary;
}

.check-holder .cb:checked + .check::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: $white;
    position: absolute;
    top: -2px;
    left: 5px;
}

// Button
.signup-btn {
    @include btnColor($btn-primary, $btn-primary-darken, $btn-primary-hover);
    
    a {
        color: $white;
    }
    // border: 2px solid red;
}










