@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

.newsletter {
    position: relative;
    z-index: 0;
    @include sectionSpacing;
    background-color: $gray-ddd;
}

.newsletter-inner {
    position: relative;
    color: $primary;
    // border: 3px solid red;
    
    .title {
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 0.938rem;
    }
}

/* ------------------------------ Form Styling ------------------------------ */
.content-wrapper {
    position: relative;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin: 0 1.875rem/* 1.875rem */;
    // border: 3px solid purple;
}

.sign-up {
    position: relative;
    width: 100%;
    justify-content: start;
    flex-direction: row;
    // @include policy;
    
    // border: 2px solid black;
    
}

// Button
.signup-btn {
    @include btnColor($btn-primary, $btn-primary-darken, $btn-primary-hover);
    
    a {
        color: $white;
    }
    // border: 2px solid red;
}

/* ---------------------------- Checkbox Styling ---------------------------- */









