@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;


// For Utility Classes and such

.full-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    
    flex-direction: column;
    justify-content: start !important;
    align-items: center;
    // border: 3px solid red;
}

// Inner Styling
.inner {
    position: relative;
    width: 100%;
    max-width: 75rem; //1200px
    
    margin: 0 auto;
    padding: 0 0.938rem; //15px
    
    // border: 1px solid gray;
    
    /* ------------------------------- Breakpoints ------------------------------ */
    // width=750px from 768px to 992px viewport
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 46.875rem; //750px
    }
    
    // width=970px from 993px to 1260px viewport
    @media only screen and (min-width: 992px) and (max-width: 1259px) {
        max-width: 60.625rem; //970px
    }
}

// //Remove padding from container
// .container {
//     padding: 0;
// }

// Remove padding from rows and wrappers
.row, .container, .card-wrapper, .wrapper {
    padding: 0 !important;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    
    // border: 2px solid limegreen;
}

// .row {
//     margin: 0;
// }

// Icon font
.icon {
    font-size: 1.438rem; //23px
}

// generic buttons styling
.btn {
    border-radius: 3px !important;
    @include btnLine;
}

// All Card Styling
.card {
    background-color: white;
    color: $primary;
    border-radius: 3px;
    border: 1px solid $gray-300;
    box-shadow: 0 3px 2.188rem rgba(0,0,0,0.1); // horizontal vertical blur color // 35px blur
    padding: 1.875rem; //30px
}

/* ---------------------------- Responsive layout --------------------------- */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* -------------------- Hides Elements based on viewport -------------------- */

// Hide elements below 575px
.hidden-xs {
    @media (max-width: 575px) {
        display: none !important;
    }
}

// Hide elements between 576px & 767px
.hidden-sm {
    @media (min-width: 576px) and (max-width: 767px) {
        display: none !important;
    }
}

// Hide elements between 768px & 991px
.hidden-md {
    @media (min-width: 768px) and (max-width: 991px) {
        display: none !important;
    }
}

// Hide elements between 991px & 1199px
.hidden-lg {
    @media (min-width: 992px) and (max-width: 1199px) {
        display: none !important;
    }
}

// Hide elements between 1200px & 1399px
.hidden-xl {
    @media (min-width: 1200px) and (max-width: 1399px) {
        display: none !important;
    }
}

// Hide elements above 1400px
.hidden-xxl {
    @media (min-width: 1400px) {
        display: none !important;
    }
}








