@use '../custom' as *;

// Full Size
@mixin fullSize {
    width: 100%;
    height: 100%;
}

// Center an Element
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// Transition
@mixin transitionSpeed {
    transition: all .5s ease-in-out;
}

//Burger lines
@mixin burger {
    background-color: $white;
    width: 33px;
    height: 3px;
    // border-radius: 5px;
}

// Absolute Center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Spacing between Sections
@mixin sectionSpacing {
    padding: 3.125rem 0;  //50px    
}

// Sets space between sections
@mixin headerSpacing {
    margin-bottom: 1.25rem; //20px
}

// line for services cards
@mixin servicesLine {
    
    &::after {
        content: "";
        width: 1.75rem; //28px
        height: 0.188rem; //3px
        display: block;
        
        // Controls position of line
        margin: 1.063rem auto 0 auto;  
        background-color: $primary;
   }
}

// Circle
@mixin circle {
    width: 3.75rem; // 60px
    height: 3.75rem;
    border-radius: 50%;
}

// input highlight
@mixin inputFocus {
    &:focus {
        border-color: $focus-outline;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.08),
                    0 0 8px rgba(91,192,222,.6) ;
    }
}

// Social Media hover
@mixin socialHover($color) {
    &:hover {
        background-color: $color;
    }
}
/* --------------------------------- Buttons -------------------------------- */
// Button Hover
@mixin btnHover($color) {
    background-color: $color;
}

// Keep Button Contents on single line
@mixin btnLine {
    white-space: nowrap; //makes icon and text on same line
    align-items: center;
}

// Header Button Padding
 @mixin btnHeader {
    padding: 0.313rem 0.938rem; // 5px 15px
 }

// Button Colour
@mixin btnColor($color, $color-darken, $color-hover) {
    background-color: $color;
    border: 1px solid $color-darken;
    
    &:hover {
        background-color: $color-hover;
    } 
}

// Styling for buttons
@mixin btnSpacing( $font-size, $paddingY, $paddingX, $line-height) {
    font-size: $font-size;
    padding: $paddingY $paddingX;
    line-height: $line-height;
}

// Spacing for Icons
@mixin btnIconSpace {
    span {
        margin-left: 0.75rem;
    }
}






