@use '../custom' as *;

// Full Size
@mixin fullSize {
    width: 100%;
    height: 100%;
}

// Fit Content
@mixin fitContent {
    width: fit-content;
    height: fit-content;
}

// Hover, active, focus states
@mixin hoverFocusActive {
    &:hover, &:focus, &:active {
        @content;
    }
}

// Center an Element
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// Transition
@mixin transitionSpeed {
    transition: all .5s ease-in-out;
}

//Burger lines
@mixin burger {
    background-color: $white;
    border-radius: 0px !important;
    width: 100%;
    height: 3px;
}

// Absolute Center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Spacing between Sections
@mixin sectionSpacing {
    padding: 3.125rem 0;  //50px    
}

// Sets space between sections
@mixin headerSpacing {
    padding-bottom: 1.25rem; //20px
}

// line for services cards
@mixin servicesLine {
     &::after {
        content: "";
        width: 1.75rem; //28px
        height: 0.188rem; //3px
        display: block;
        
        // Controls position of line
        margin: 1.063rem auto 0 auto;  
        background-color: $primary;
    }
}

// Circle
@mixin circle {
    width: 3.75rem; // 60px
    height: 3.75rem;
    border-radius: 50%;
}

// input highlight
@mixin inputFocus {
    &:focus {
        border-color: $focus-outline;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.08),
                    0 0 8px rgba(91,192,222,.6) ;
    }
}

// Social Media hover
@mixin socialHover($color) {
    &:hover {
        background-color: $color;
    }
}

// Change img color on hover
@mixin imgHover {
    .colored {
        display: none;
    }
    
    &:hover {
        .grayscale {
            display: none;
        }
        
        .colored {
            display: block;
        }
    }
}

@mixin isActive {
    right: 275px;
    overflow-y: scroll;
    
    @media (min-width: 992px) {
        right: 333px;
    }
}

// Card Image
@mixin cardImage {
    .img-container {
        position: relative;
        overflow: hidden;
        height: fit-content;
        border-radius: 3px 3px 0 0; // tl tr br bl
        
        .image-inner {
            display: block;            
            transition: all 400ms ease-in-out;
            
            img {
                position: relative;
                object-fit: cover;
                width: 100%;
                height: fit-content;
            }
        }
    }
}

/* ----------------------------- Banner Styling ----------------------------- */
@mixin bannerHeight {
    height: calc(100vh - 209px);
    // border: 2px solid green;
    
    @media (max-width: 992px) {
        height: calc(100vh - 110px);
        // border: 2px solid greenyellow;
        
        // Landscape view
        @media (orientation: landscape) {
            height: 120vh;
            // border: 2px solid saddlebrown;
        }
    }
    
    @media (max-width: 768px) {
        height: calc(100vh - 168px);
        // border: 2px solid red;
        
        // Landscape view
        @media (orientation: landscape) {
            height: 140vh;
            // border: 2px solid hotpink;
        }
    }
    
    @media (max-height: 700px) {
        height: 102vh;
        // border: 2px solid gold;
     }
}

@mixin bannerShadow {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(270deg,transparent 25%,#000);
        -webkit-background: linear-gradient(270deg,transparent 25%,#000);
    }
    
    // Overlay for medium screens and below
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // z-index: 1;
        background:rgba(0, 0, 0, 0.5);
    }
    
    // Overlay for medium and above
    @media (min-width: 992px) {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            // z-index: 1;
            background:rgba(0, 0, 0, 0.1);
        }
    }
}




/* --------------------------------- Buttons -------------------------------- */
// Button Hover
@mixin btnHover($color) {
    background-color: $color;
}

// Keep Button Contents on single line
@mixin btnLine {
    white-space: nowrap; //makes icon and text on same line
    align-items: center;
}

// Header Button Padding
 @mixin btnHeader {
    padding: 0.313rem 0.938rem; // 5px 15px
 }

// Button Colour
@mixin btnColor($color, $color-darken, $color-hover) {
    background-color: $color;
    border: 1px solid $color-darken;
    
    &:hover {
        background-color: $color-hover;
    } 
}

// Styling for buttons
@mixin btnSpacing( $font-size, $paddingY, $paddingX, $line-height) {
    font-size: $font-size;
    padding: $paddingY $paddingX;
    line-height: $line-height;
}

// Spacing for Icons
@mixin btnIconSpace {
    span {
        margin-left: 0.75rem;
    }
}






