@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

// Browser Reset / 

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Remove default margin and padding */
body,
section,
main,
img,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

// make span elements inline block
span {
  display: inline-block;
}
/* Set core root defaults */
html {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.4px !important;
}

// Body Styling
body {
   font-family: 'Poppins', sans-serif;
   position: relative;
   width: 100vw;
   height: 100vh;
  //  overflow-y: hidden;
   overflow-x: hidden;
   
   
  //  border: 2px solid blue;
}


/* Remove list styles*/
ul,
ol {
  list-style-type: none;
}


/* Removes styling from links, buttons and inputs */
a {
   text-decoration: none;
  padding: 0;
   
   &:hover, &:active, &:focus {
     outline: none ;
     box-shadow: none !important;
   }
 }
 
.btn,
input {
  padding: 0;
  margin: 0;
  outline: none !important;
}
 
 a:not([class]) {
   text-decoration-skip-ink: auto;
 }

 /* Make images responsive to container size */
img {
  max-width: 100%;
  display: block;
}
