@use '../custom' as *;
@use '../utilities/mixins' as *;

// fade
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade1 {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide-down {
    0%{
        top: -100%;
    }
    100%{
        top: 0;
    }
}

@keyframes slide-up {
    0%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}