@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

@mixin articleColor($color, $color-darken, $color-hover) {
    // Category Styling
    .category {
        background-color: $color;
    }
    
    // Content Styling
    .article-content {
        // Title
        &--title a {
            color: $color;
        }
        
        // Button
        .article-btn {
            background-color: $color;
            border: 1px solid $color-darken;
            
            &:hover {
                background-color: $color-hover;
            } 
        }
    }
}





