@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;


/* -------------------- Search Button for medium +screens ------------------- */
.search-md .search-btn {
    position: relative;
    background-color: $btn-default;
    height: 100%;
    width: 3.938rem; //63px
    margin: 0 auto;
    border-radius: 0px 3px 3px 0; // tl tr br bl
    // border: 2px solid rebeccapurple;
    
    @media (min-width: 992px) and (max-width: 1259px) {
        border-radius: 3px;
    }
    
    span {
        color: white;
        font-size: 1.5rem; //24px
    }
    
    &:hover {
        @include btnHover($btn-default-hover);
    }
}

/* ------------------------ Header Buttons for Large Screens ----------------------- */
.buttons {
    align-items: center;
    justify-content: space-around;
    height: 3.5rem; //56px
    // border: 3px solid sandybrown;
    
    // Style both header buttons for large screens buttons
    a {
        margin-right: 1.4rem;
        @include btnHeader;
        // border: 3px solid fuchsia;
        
        span {
            color: $white;
        }
        
        .icon {
            margin-right: 0.313rem; //5px
        }
        
        .btn-text {
            font-size: 1.125rem; //18px
        }
    }
    
    // Support Button
    .support-lg {
        background-color: $btn-blue;
        &:hover {
            @include btnHover($btn-blue-hover)
        }
    }
    
    // Contact button
    .contact-lg {
        background-color: $btn-default;
        &:hover {
            @include btnHover($btn-default-hover)
        }
    }
}

/* -------------------------- About Button Styling -------------------------- */

.about-btn {
    @include btnColor($btn-white, $btn-white-darken, $btn-white-hover);
    // border: 3px solid sandybrown;
    a {
        color: $primary;
        @include btnIconSpace;
        
        // background-color: white;
    }
}

/* ----------------------------- Cookie Buttons ----------------------------- */
.cookie-footer {
    justify-content: space-between;
    gap: 1.875rem;
    
    .btn {
        width: 47.2%;
        
         span {
            color: $white;
         }
    }
    
    .cookie-settings {
        @include btnColor($btn-default, $btn-default-darken, $btn-default-hover);
    }
    
    .cookie-accept {
        @include btnColor($btn-purple, $btn-purple-darken, $btn-purple-hover);
    }
    
    // Breakpoints
    @include respond-to-down(sm) {
        flex-direction: column;
        
        .btn {
            width: 100%;
        }
    }
}

