@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;


/* -------------------------------------------------------------------------- */
/*                               Header Buttons                               */
/* -------------------------------------------------------------------------- */
// Search Button for medium +screens
.search-md .search-btn {
    position: relative;
    background-color: $btn-gray;
    height: 100%;
    width: 3.938rem; //63px
    margin: 0 auto;
    // border: 2px solid rebeccapurple;
    
    span {
        color: white;
        font-size: 1.5rem; //24px
    }
    
    &:hover {
        @include btnHover($btn-gray-hover);
    }
}

/* ------------------------ Header Buttons for Large Screens ----------------------- */
.buttons {
    align-items: center;
    justify-content: space-around;
    height: 3.5rem; //56px
    // border: 3px solid sandybrown;
    
    // Style both header buttons for large screens buttons
    a {
        margin-right: 1.4rem;
        @include btnHeader;
        // border: 3px solid fuchsia;
        
        span {
            color: $white;
        }
        
        .icon {
            margin-right: 0.313rem; //5px
        }
        
        .btn-text {
            font-size: 1.125rem; //18px
        }
    }
    
    // Support Button
    .support-lg {
        background-color: $btn-blue;
        &:hover {
            @include btnHover($btn-blue-hover)
        }
    }
    
    // Contact button
    .contact-lg {
        background-color: $btn-gray;
        &:hover {
            @include btnHover($btn-gray-hover)
        }
    }
}


/* -------------------------- Banner Button Styling ------------------------- */
.banner-btn {
    @include btnColor($web, $web-darken, $web-hover);
    
    a {
        color: $white;
        font-size: 1.25rem;
        
        padding: 0.313rem 1.25rem; //5px 20px
        line-height: 3.125rem; //50px
        
        span {
            margin-left: 12px;
        }
    }
}




