@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

// Overlay
.sidebar-container {
    display: none;
    animation: fade 300ms;
}

.sidebar-container.is-active {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.5);
    
    justify-content: end;
    flex-direction: row;
    
    // overflow-y: scroll;
    
    .overlay {
        position: relative;
        @include fullSize;
        z-index: 998;
        // border: 2px solid orange;
    }
    
    // border: 2px solid purple;
}
// Sidebar styling
.sidebar {
    position: fixed;
    z-index: 999;
    width: 275px;
    color: $white;
    
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
    overflow-y: scroll;
       
    background-color: $primary;
    animation: fade1 50ms;
    // border: 2px solid red;
    
    @include respond-to-up(md) {
        width: 350px;
    }
}

// Nav sections global styling
.sidebar .upper,
.sidebar .lower {
    width: 100% !important;
    height: fit-content !important;
    
    flex-direction: column;
    justify-content: start;
    margin: 0;
    
    .item-container {
        .item {
            // Text styling
            a {
                color: $white;
                display: block;
                width: 100%;
                text-transform: uppercase;
                position: relative;
                line-height: 1.25rem;
            }
            
            .item-links {
                background-color: $side-primary;
                width: 100%;
                
                li {
                    width: 100%;
                        
                    border-top: 1px solid rgba(0,0,0,.25);
                }
                a {
                    border-top:1px solid hsla(0,0%,100%,.05);
                }
            }
            
            @include hoverFocusActive {
                & > a {
                    background-color: hsla(0,0%,100%,.05);
                }
            }
        }
    }
    
    // border: 2px solid black;
}

/* ------------------------------ Upper styling ----------------------------- */
.sidebar .upper {
    padding: 1.25rem;
    // border: 2px solid white;
    
    .item-container {
        width: 100%;
        height: fit-content;
        
        .item {
            margin-bottom: 1.25rem;
            width: 100%;
            height: fit-content;
            // border: 2px solid red;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            // Text
            & > a {
                display: flex;
                flex-direction: column;
                justify-content: start;
                
                height: fit-content !important;
                
                padding: 1.25rem;
                margin-bottom: 1.25rem;    
                
                text-align: center;
                font-size: 1.125rem;
                line-height: 1.25;
                
                outline: 1px solid rgba(0,0,0,.25);
                border-radius: 3px;
                border: 1px solid hsla(0,0%,100%,.1);
                
                @include fullSize;
                
                .icon {
                    padding-bottom: 0.625rem;
                }
                
                .small-text {
                    padding-bottom: 2px;
                }
            }
            
            // Sub menu
            .item-links {
                border-radius: 3px;
                li {
                    a {
                        padding: 0.625rem;
                    }
                }
            }
        }
    }
    
    // Icon Coloring
    #web .icon {
        color: $web;
    }
    
    #it-support .icon {
        color: $it-support;
    }
    
    #telecoms .icon {
        color: $telecoms;
    }
    
    #software .icon {
        color: $software;
    }
    
    #digital .icon {
        color: $digital;
    }
    
    #security .icon {
        color: $security;
    }
    
    @include respond-to-up(md) {
        display: none;
    }
}

/* ------------------------------ Lower styling ----------------------------- */
.sidebar .lower {    
    .item-container {
        border-top: 1px solid rgba(0, 0, 0, 0.25); // Black
        border-bottom: 1px solid hsla(0,0%,100%,.1); //White
        @include fullSize;
        
        .item {
            // background-color: purple;
            border-top: 1px solid hsla(0,0%,100%,.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.45);
            
            // Text
            & > a {
                padding: 1.25rem;
                // color: red;
                position: relative;
                line-height: 1;
            }
            
            // Sub-menu
            .item-links {
                
                li {
                    width: 100%;
                    // background-color: red;
                    
                    // Text styling
                    a {
                        
                        font-size: 0.875rem;
                        padding: 15px 20px;
                        // line-height: 1;
                        
                        // Arrow
                        &::before {
                            content: "\BB";
                            padding-right: 0.938rem;
                        }
                    }
                }
            }
            @include hoverFocusActive {
                
                & > a {
                    background-color: hsla(0,0%,100%,.05);
                }
            }
        }
    }
}





