@use '../custom' as *;
@use '../utilities/mixins' as *;
@use '../utilities/breakpoints' as *;

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit
}